
#page-wraper {
    background: url(./img/Fondo_portafolio.png) no-repeat center center fixed ;
    background-size: cover;
    width: 100%;
    height: 13%;
    

    /*background-image: radial-gradient(circle, #f7f7f7, #bebdbd, #888686, #555452, #262624);*/
    
    
    
}

#haderjc {
    width: 100%;
    height: 1000%;
    background-image: radial-gradient(circle, #f7f7f7, #bebdbd, #888686, #555452, #262624);
    background-color: #262624;


}